extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    p Hello World
    p hi
  div
    p bro
    form(action='./login')
      input(type='submit', value='Login')
    form(action='./register')
      input(type='submit', value='Register')


