//
   Created by jeffchang on 2016-02-27,
    //extends layout takes the stuff in the header of the layout.jade file and applies it to the current jade file
    //extends layout
extends layout
block content
    ul(class="nav nav-tabs")
        li(role="presentation")
            a(href="/") ShitPost.org
        li(role="presentation" class="active")
            a(href="/login") Login
        li(role="presentation")
            a(href="/register") Register
    body
        div.container
            .row
                form(action="/login", method = "post")
                    div.form-group
                        h3(style="text-align: center;").
                            Login
                    div.form-group
                        input(class="form-control", name="username" placeholder="Username", type="text")
                        input(class="form-control", name="password" placeholder="Password", type="password")
                    div.form-group
                        button.btn.btn-lg.btn-primary.btn-block(class="btn btn-sm btn-primary", type="submit").
                            Login
            .row
                form(action='./register')
                        button.btn.btn-sm.btn-register.btn-block(type="submit").
                            Register