//
   Created by jeffchang on 2016-02-27,
    //extends layout takes the stuff in the header of the layout.jade file and applies it to the current jade file
    //extends layout
extends layout
block content
    ul(class="nav nav-tabs")
        li(role="presentation")
            a(href="/") Home
    body
        .container
            h3.center Learn more about #{title}
        .postsDiv
            each post in posts
                .constraint.block
                    .card.small(style="overflow: hidden;")
                        .card-image.waves-effect.waves-block.waves-light
                            img.activator.resize(src='https://9to5mac.files.wordpress.com/2014/08/yosemite.jpg?w=1200&h=&crop=1', overflow="hidden")
                        .card-content
                            span.card-title.activator.grey-text.text-darken-4=post.title
                                i.material-icons.right
                                    img(src="/images/more.png")
                        .card-reveal
                            span.card-title.grey-text.text-darken-4=post.title
                                i.material-icons.right close
                            p!=md(post.content)
                            .row
                                a(href="/posts/get_post/"+post.id)
                                    button.btn.btn-sm.btn-register.btn-block(type="submit").
                                        Open full post
