//
   Created by jeffchang on 2016-02-27,
    //extends layout takes the stuff in the header of the layout.jade file and applies it to the current jade file
    //extends layout
extends layout
block content
    ul(class="nav nav-tabs")
        li(role="presentation")
            a(href="/") Home
    body
        .container
            .testDiv
                .col.s12.m6
                    .card.blue-grey.lighten-5
                        .card-content.black-text.center
                            span.card-title=post.title
                        .card-content.black-text
                            span.card-body!=md(post.content)
