//
   Created by jeffchang on 2016-02-27,
    //extends layout takes the stuff in the header of the layout.jade file and applies it to the current jade file
    //extends layout
extends layout
head
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js")
    script(src="/js/validation.js")
block content
    ul(class="nav nav-tabs")
        li(role="presentation")
            a(href="/") ShitPost.org
        li(role="presentation")
            a(href="/login") Login
        li(role="presentation" class="active")
            a(href="/register") Register
    body
        div.container
            .row
                form(action="/register", method = "post", data-toggle="validator" role = "form", id="registration-form")
                    div.form-group
                        h3(style="text-align: center;").
                            Register
                    div.form-group
                        input(class="form-control", name="username" placeholder="Username", type="text")
                        input(class="form-control" data-minLength="8", name="password" placeholder="Password", type="password")
                        input(class="form-control", name="email" placeholder="Email", type="email")
                    div.form-group.form-actions
                        button.btn.btn-sm.btn-register.btn-block(type="submit").
                            Register