body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center {
  text-align: center;
  margin:auto;
}

.bord{
    border: 5px black;
    background-color: black;
}

.btn-register{
    color: #fff;
    background-color: #ff9900;
    border-color:#ff9900;
}

.btn-register:hover{
    background-color: #e68a00;
    border-color: #e68a00;

}

.btn-register:active{
    background-color:#cc7a00;
    border-color:#cc7a00;
}

.testDiv{
    margin: 0 auto;
    width: 50%;
}

.constraint{
    width: 300px;
    height: 300px;
}

.resize{
    max-width:100%;
    max-height: 100%;
}