body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center {
  text-align: center;
  margin:auto;
}

.bord{
    border: 5px black;
    background-color: black;
    width: 100%;
}

.btn-logout{
    text-align: center;
    color: #FFFFFF;
    background-color: #e60415 !important;
    border-color:#e60415 !important;
}

.btn-register{
    text-align: right;
    color: #fff;
    background-color: #ff9900 !important;
    border-color:#ff9900 !important;
}

.btn-register:hover{
    background-color: #e68a00 !important;
    border-color: #e68a00 !important;

}

.btn-register:active{
    background-color:#cc7a00 !important;
    border-color:#cc7a00 !important;
}

.testDiv{
    margin: 0 auto;
    width: 100%;
}

.constraint{
    width: 300px;
    height: 300px;
}

.resize{
    max-width:100%;
    max-height: 100%;
}

.right{
    float:right;
    margin-right: 5px;
    margin-top: -12px;
}

.fillsize{
    float:right;
    width:100%;
}

.fill-container {
    height: auto;
}

.full-height {
    height:400px;
    max-width: 100%;
}

.testDiv{
    margin: 0 auto;
    width: 50%;
}

.constraint{
    width: 300px;
    height: 300px;
}

.resize{
    max-width:100%;
    max-height: 100%;
}

.testDiv{
    margin: 0 auto;
    width: 100%;
}

.constraint{
    width: 300px;
    height: 300px;
}

.resize{
    max-width:100%;
    max-height: 100%;
}
